---
layout: coursepage
title: 计算机软件基础 课程内容
---

<table class="table table-hover table-striped">
  <tr>
    <th>日期</th>
    <th>授课老师</th>
    <th style="width:30%">主题</th>
    <th style="width:30%">注意</th>
    <th>阅读材料</th>
  </tr>

{% for lecture in site.lectures %}
  <tr class="lecture">
    <td>{{ lecture.date | date: "%a, %b %d"}}</td>
    <td>{{ lecture.lecturer }}</td>
    <td>{{ lecture.subject }}<br />
      {% if lecture.slides %}
        [<a href="slides/{{ lecture.slides }}.pdf">pdf</a>]  
      {% endif %}
    </td>
    <td>{{ lecture.notes }}</td>
    <td>{{ lecture.readings }}</td>
  </tr>
{% endfor %}

</table>
